.header-container {
  background-color: rgba(1, 19, 20, 0.7);
  padding: 5px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: #333;
}

.logo img {
  width: 80px;
}

div.auth-buttons button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #f1f0f0;
  border: 1px solid #080808;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 10px;
}
#root > div > div.header-container > header > div.logo > h2 {
  color: #f1f0f0;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1.8rem;
}
#root > div > div.header-container > header > div.auth-buttons > button.login-button > a {
  text-decoration: none;
}
#root > div > div.header-container > header > div.auth-buttons > button > a {
  text-decoration: none;
  color: #333;
}

div.auth-buttons button:hover {
  background-color: #707070;
  color:#f2f2f2;
}

#root > div.App > div > div.header-container > header > div.logo > h2 {
  color: #f1f0f0;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1.8rem;
}

