.header-container {
  background-color: rgba(1, 19, 20, 0.7);
  padding: 10px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

div.auth-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f1f0f0;
  border: 1px solid #080808;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }

  .logo img {
    width: 80px;
  }

  div.auth-buttons button {
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 1.2rem;
  }
}


#root > div.App > div.header-container > header > div.logo > h2 {
  color: #f1f0f0;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1.8rem;
}


@media (max-width: 480px) {
  .logo {
    font-size: 1rem;
  }

  .logo img {
    width: 40px;
    margin: 2px;
  }

  #root > div.App > div.header-container > header > div.logo > h2 {
    font-size: .7rem;
  }

  

  div.auth-buttons button {
    margin: 0 2px;
    padding: 4px 8px;
    font-size: .4rem;
    border-radius: 5px;
  }
}

